body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e8e8e8;
}


/*
 * Lines and terminal
 */
pre {
  height: 0.8em;
  padding: 2px;
  margin: 0;
}
pre:hover {
  background-color: rgba(255,255,255,0.3);
}
pre.input::before {
  content: "$ ";
}
#textarea {
  font-size: 1em;
  font-family: monospace;
  height: 24px;
  width: 100%;
  padding: 2px;
  color: white;
  background-color: rgb(58,0,39);
}
#terminal {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  color: white;
  background-color: rgb(58,0,39);
}
/* https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Menu */
.menu.container {
  position: absolute;
  right: 2px;
  top: 40px;
  border: solid rgb(58,0,39) 1px;
  box-shadow: -0.1em 0.1em 1em rgb(0,0,0,0.5);
}
.menu.item {
  position: relative;
  padding: 4px;
  background-color: white;
}
.menu.item:hover {
  background-color: rgba(255,255,255,0.9);
}
checkbox {
  margin-right: 10px;
}


/* Banner, icons and page */
.banner {
  background: rgb(60,67,72);
  padding: 6px;
  font-size: 1.1em;
  height: 22px;
  color: rgb(147,154,161);
}
.left {
  width: auto;
  float: left;
}
.right {
  float: none;
  width: auto;
}
.right.icons {
  text-align:right;
  padding-right: 6px;
}
img.icon {
  height: 26px;
  padding: 1px;
  margin-top: -3px;
}
img.icon:hover {
  background-color: #ffffff66;
}


/* Status on banner */
.circleBase {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 8px;
  box-shadow: 0em 0em 0.3em 0.1em dimgrey;
}
.circleBase.disconnected {
  background: red;
}
.circleBase.connected {
  background: greenyellow; 
}